 <!-- #region footer -->

    <footer class="footer">
      <div class="container">
        <div class="footer-container">
          <a href="./index.html" class="header-logo"
            ><img src="/img/page-one/logo.svg" alt="logo" />Product</a
          >
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a href="" class="footer-social-link"><svg width="24" height="24" class="footer-social-icon">
                <use href="/img/icons.svg#icon-instagram" />
              </svg></a
              >
            </li>
            <li class="footer-social-item">
              <a href="" class="footer-social-link"><svg width="24" height="24" class="footer-social-icon">
                <use href="/img/icons.svg#icon-facebook" />
              </svg></a
              >
            </li>
            <li class="footer-social-item">
              <a href="" class="footer-social-link"><svg width="24" height="24" class="footer-social-icon">
                <use href="/img/icons.svg#icon-twit" />
              </svg></a
              >
            </li>
          </ul>
        </div>
        <div class="footer-container">
          <p class="footer-resourses">Resource</p>
          <ul class="footer-resourses-list">
            <li class="footer-resourses-item">
              <a href="" class="footer-resourses-link">About Us</a>
            </li>
            <li class="footer-resourses-item">
              <a href="" class="footer-resourses-link"> Blog </a>
            </li>
            <li class="footer-resourses-item">
              <a href="" class="footer-resourses-link">Contact</a>
            </li>
            <li class="footer-resourses-item">
              <a href="" class="footer-resourses-link">FAQ</a>
            </li>
          </ul>
        </div>
        <div class="footer-container">
          <p class="footer-stuff">Legal Stuff</p>
          <ul class="footer-stuff-list">
            <li class="footer-stuff-item">
              <a href="" class="footer-stuff-link">Disclaimer</a>
            </li>
            <li class="footer-stuff-item">
              <a href="" class="footer-stuff-link">Financing</a>
            </li>
            <li class="footer-stuff-item">
              <a href="" class="footer-stuff-link">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="footer-container">
          <p class="footer-form-title">
            knowing you're always on the best energy deal.
          </p>
          <form class="footer-form">
            <label for="user-tel"></label>
            <input
              type="tel"
              id="user-tel"
              name="tel"
              placeholder="Enter your phone number" 
              class="footer-form-input"/>
            <button type="submit" class="footer-btn">Sign up Now</button>
          </form>
        </div>

      </div>
      <p class="footer-text-end">Made With Love By Figmaland All Right Reserved </p>

    </footer>
    <!-- #endregion footer -->
