/* #region footer */
.footer {
  padding: 50px 0 34px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8px;
}


.footer-social-list {
  display: flex;
  gap: 16px;
  margin-top: 25px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  background-color: #EDFFFC;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.footer-social-icon {
  stroke: #02897a;
  fill: transparent;
}

.footer-container {}


.footer-resourses-list {}

.footer-resourses-item:not(:last-child) {
  margin-bottom: 8px;
}


.footer-stuff,
.footer-resourses {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  /* line-height: 30px; */
  line-height: 1.5;
  color: #22343d;
}

.footer-stuff-list {}

.footer-stuff-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-stuff-link,
.footer-resourses-link {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 35px; */
  line-height: 2.1875;
  color: #22343d;
}

.footer-form-title {
  font-weight: 500;
  font-size: 20px;
  max-width: 280px;
  /* line-height: 30px; */
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 34px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.footer-form-input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  background: #fff;
}

.footer-text-end {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 30px; */
  line-height: 1.875;
  color: #22343d;
  text-align: center;
}

.footer-btn {
  background: #02897a;
  border-radius: 4px;
  width: 131px;
  height: 39px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (min-width:768px) {}

@media screen and (min-width:1200px) {
  .footer .container {
    flex-direction: row;

  }
}

/* #endregion footer*/