   <!-- #region price -->
      <section class="price">
        <div class="container">
          <h2 class="price-title">Price Table</h2>
          <p class="price-title-descr">We offer competitive price</p>
          <ul class="price-list">
            <li class="price-list-item">
              <h3 class="price-item-title">Free</h3>
              <p class="price-item-descr">Brief price description</p>
              <div class="item-price">
                <p class="card-price">0</p>
                <div class="card-tarif">
                  <p class="card-price-valute">$</p>
                  <p class="card-price-period">Per / month</p>
                </div>
              </div>
              <ul class="operations-list">
                <li class="operations-list-item">Only 2 Operators</li>
                <li class="operations-list-item">Notifications</li>
                <li class="operations-list-item">Landing Pages</li>
              </ul>
              <button type="button" class="price-item-btn">order now</button>
            </li>
            <li class="price-list-item">
              <h3 class="price-item-title">Standard</h3>
              <p class="price-item-descr">Brief price description</p>
              <div class="item-price">
                <p class="card-price">5</p>
                <div class="card-tarif">
                  <p class="card-price-valute">$</p>
                  <p class="card-price-period">Per / month</p>
                </div>
              </div>
              <ul class="operations-list">
                <li class="operations-list-item">Only 2 Operators</li>
                <li class="operations-list-item">Notifications</li>
                <li class="operations-list-item">Landing Pages</li>
              </ul>
              <button type="button" class="price-item-btn">order now</button>
            </li>
            <li class="price-list-item">
              <h3 class="price-item-title">Premium</h3>
              <p class="price-item-descr">Brief price description</p>
              <div class="item-price">
                <p class="card-price">10</p>
                <div class="card-tarif">
                  <p class="card-price-valute">$</p>
                  <p class="card-price-period">Per / month</p>
                </div>
              </div>
              <ul class="operations-list">
                <li class="operations-list-item">Only 2 Operators</li>
                <li class="operations-list-item">Notifications</li>
                <li class="operations-list-item">Landing Pages</li>
              </ul>
              <button type="button" class="price-item-btn">order now</button>
            </li>
          </ul>
        </div>
      </section>
      <!-- #endregion price-->